@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'mr_hamiltoneg';
  src: local('Font Name'),
  url(../fonts/mr_hamiltoneg.ttf);
}

@font-face {
  font-family: 'Runic';
  src: local('Runic'),
  url(../fonts/Runic.ttf);
}

@font-face {
  font-family: 'Stripe';
  src: local('Stripe'),
  url(../fonts/Stripe.ttf);
}

@font-face {
  font-family: 'LavanderiaC';
  src: local('LavanderiaC'),
  url(../fonts/LavanderiaC.ttf);
}

@font-face {
  font-family: 'Usually-font';
  src: local('Usually-font'),
  url(../fonts/Usually-font.otf);
}